main {
    padding: 1.8rem 0 3rem 320px;
    width: 97%;
}

.page-title {
    font-size: 26px;
    font-weight: bold;
    color: #023178 !important;
}

header .btn {
    padding: 5px 15px 5px 10px;
    font-weight: 500;
}

header .btn i {
    font-size: 24px;
    margin-right: 5px;
}

.content {
    margin:3.8rem 0 0 0;
}

header span:nth-child(3){
    display: none;
}


@media only screen and (max-width: 1200px) {
    main {
        padding: 1.8rem 0 3rem 6rem;
        width: 95%;
    }
}

@media only screen and (max-width: 576px) {
    header span:nth-child(2) {
        display: none;
    }

    header span:nth-child(3){
        display: inherit;
    }

    header h1 {
        font-size: 22px !important;
    }

 }
