.navbar {
    background-color: #fff !important;
    height: 100vh;
    width: 280px;
    position: fixed;
    z-index: 2;
    padding: 1rem 0 0 1.5rem;
}

.navbar::after {
    content: "";
    position: absolute;
    height: 400px;
    border: 1px solid #CFCFCF;
    right: 0;
    top: 0;
    height: 100vh;
}

.navbar-brand i {
    font-size: 52px;
}

.navbar-brand {
    color: #023178 !important;
}

.navbar-brand h1 {
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand p {
    font-size: 12px;
    margin: 0 0 5px 0;
}

.navbar-nav i {
    font-size: 28px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item span {
    margin: 0 0 0 15px;
    display: inline-block;
}

.navbar img{
    width: 45px !important;
    height: 45px !important;
}

.navbar .title, .navbar .desc {
    margin: 0 0 0 7px;
}

.navbar .desc p {
    font-weight: 600;
}

.navbar .desc span {
    font-size: 12px;
}

.navbar-actived{
    background-color: #F1F1F1;
    min-width: 200px;
    border-radius: 5px; 
    color: #023178 !important;
}

.toggle-nav{
    display: none;
    font-size: 24px;
    color: #023178;
    cursor: pointer;

}


/* Mobile View */
@media only screen and (max-width: 1200px) {
    .navbar {
        width: 70px;
        padding: 1rem 0 0 0.7rem;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    }

    .navbar span, .navbar p , .navbar h1{
        display: none !important;
    }

    .navbar-brand i {
        font-size: 42px;
        margin-left: 4px;
    }

    .navbar-actived {
        min-width: 0;
        background-color: transparent !important;
    }

    .navbar img {
        width: 35px !important;
        height: 35px !important;
        margin-left: 5px;
    }
    

    .navbar::after {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-nav {
        margin-left: 10px;
    }

}